name: Link Check

on:
  pull_request:
    paths:
      - '**/*.md'
      - '**/*.html'
      - '_config.yml'

jobs:
  htmlproofer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true
      - name: Install dependencies
        run: |
          gem install bundler
          bundle config set path vendor/bundle
          bundle install
          gem install html-proofer
      - name: Build site
        run: bundle exec jekyll build
      - name: Check links
        run: |
          htmlproofer ./_site \
            --assume-extension=.html \
            --check-favicon \
            --enforce-https \
            --ignore-status-codes=429 \
            --ignore-urls="/localhost/,/127.0.0.1/" \
            --no-check-external-hash \
            --disable-external
